<template lang="pug">
  div.app
    router-view
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import WrNavbar from './components/WrNavbar.vue';

@Component
export default class App extends Vue {}
</script>


<style lang="sass">
@import "~bulma/bulma"
@import "~bulma-extensions/bulma-divider/dist/css/bulma-divider.sass"
@import "./assets/bulma-social.css"
@import "~@fortawesome/fontawesome-free/css/all.css"
@import "./assets/transitions"
@import url('https://fonts.googleapis.com/css?family=Charmonman')

.brand-type.brand-type
  font-family: 'Charmonman', cursive;

#app
  text-align: center
</style>
