public-hoist-pattern[]=@graphql-typed-document-node*
public-hoist-pattern[]=@tiptap*
public-hoist-pattern[]=@mantine/utils
public-hoist-pattern[]=@urql/core
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
