apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  selector:
    matchLabels:
      app: redis
      env: production
      tier: backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: redis
        env: production
        tier: backend
    spec:
      containers:
      - image: redis:5.0.5-alpine
        name: redis
        ports:
        - containerPort: 6379
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
