/* @import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700'); */

/* img:-moz-loading {
  visibility: hidden;
} */

/* https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes grow-vertically {
  0% {
    transform: scaleY(0);
    max-height: 0em;
  }
  100% {
    transform: scaleY(1);
    max-height: 2em;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-0.5em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}