<template lang="pug">
div
  wr-navbar
  section.section
    div.columns
      div.column.is-one-quarter
        wr-menu
      div.column
        router-view
  wr-footer
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import WrMenu from '../components/WrMenu.vue';
import WrNavbar from '../components/WrNavbar.vue';
import WrFooter from '../components/WrFooter.vue';

@Component({
  components: {
    WrMenu,
    WrNavbar,
    WrFooter,
  },
})
export default class DashboardView extends Vue {}
</script>
