<template lang="pug">
div
  h1.title Your Rooms
  wr-room-list
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import WrRoomList from '../components/WrRoomList.vue';

import store from '../store';

@Component({
  components: {
    WrRoomList,
  },
})
export default class RoomListView extends Vue {
}
</script>
