<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>WriteRite</title>
    <script src="https://apis.google.com/js/platform.js?onload=gapiAsyncInit" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaAsyncInit&render=explicit" async defer></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but WriteRite doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="fb-root"></div>
    <script>
      const createDeferred = function() {
        var override = {};
        var q = new Promise((resolve, reject) => {
          override.resolve = resolve;
          override.reject = reject;
        });
        q.override = override;
        return q;
      };
      const gapiDeferred = createDeferred();
      const FBDeferred = createDeferred();
      const grecaptchaDeferred = createDeferred();
      function gapiAsyncInit() {
        gapi.load('auth2', function() {
          gapi.auth2.init({
            client_id: "<%= VUE_APP_GOOGLE_OAUTH2_CLIENT_ID %>.apps.googleusercontent.com",
          }).then(() => gapiDeferred.override.resolve(gapi));
        });
      }
      function recaptchaAsyncInit() {
        grecaptchaDeferred.override.resolve(grecaptcha);
      }
      function fbAsyncInit() {
        FBDeferred.override.resolve(FB);
      }
    </script>
    <script async defer>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=<%= VUE_APP_FB_APP_ID %>&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
